section {
    display: grid;
     grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 46px;
    grid-column-gap: 10px;
    padding-left:10vw;
    padding-right:10vw;
/*    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));*/

}

h2 {
    padding-left:10vw;
}

header {
       text-align: center;

}


img {
    width: 100%;
    height: auto;
}


@media only screen and (max-width: 800px) {
    section {
    display: grid;
     grid-template-columns: 1fr;}
}

footer {
 text-align: center;
    background-color: white;

}
